<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SPIKE!!!</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="">Facts</a></li>
          <li><a href="#">Non-GMO Companies</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </nav>

    <div class="container" style="margin-top:50px">
      <div class="row">
        <div class="col-sm-12 text-center">
          <br />
          <h1><big class="text-uppercase">Support Rational Improvements to Food</big>
          <br />
          <small>What are genetically-modified organisms (GMOs)?</small>
          </h1>
          <br />
        </div> 
      </div>
      <div class="row">
        <div class="col-sm-5 text-justify">
          <big>
          <p>As defined by the World Health Organization, genetically-modified organisms, or GMOs,
          are organisms in which the DNA has been artificially modified. This may sound scary, 
          but gene editing has been rigorously studied by scientists for decades. In fact, this technology has already been used to make our food more drought-tolerant, pest-resistant, and nutritious!</p>

          <p>Unfortunately, groups like the Non-GMO Project are stifling efforts to continue this research and meet the world's caloric and nutritional needs, especially as population numbers rise and the climate changes. <strong>Speak out, and let companies know that you support  well-studied, rational steps to improve our food.</strong></p>
          </big>
        </div>
        <div class="col-sm-7">
          <iframe class="center-block" width="640.5" height="360" src="https://www.youtube.com/embed/7TmcXYp8xu4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <hr>

      <!--<div class='row'>
        <div class='col-sm-12 text-center text-uppercase'>
          <h1>Speak Out</h1>
        </div>
      </div>-->
      <br />

      <form action='/send'>

      <div class="row">
        <div class="col-sm-6">
            <label for="company"><big>Companies to contact</big></label>
            <div class="btn-group-sm">
              <button type="button" class="btn btn-default" id='check_all'>Select all</button>
              <button type="button" class="btn btn-default" id='uncheck_all'>Deselect all</button>
            </div>
            <div class="form-group" style="max-height:120px;overflow:auto"> 
              <% for (var i=0; i<locals.companyKeys.length; i++) {%>
                <div class="checkbox">
                  <label><input type="checkbox" name="company" value=<%=locals.companyKeys[i]%> >
                  <%=locals.companyNames[locals.companyKeys[i]]%> 
                  </label>
                </div>
              <%} %>
            </div>

            <div class="form-group">
              <label for="subject"><big>Subject</big></label>
              <input type="text" class="form-control" name="subject" id="subject" value="Support rational improvements to food" required>
            </div>

            <div class="form-group">
              <label for="email"><big>Editable text</big></label>
              <textarea class="form-control" rows="14" name="body" id="body" required>
I have been a long-time buyer of {company}. However, I have recently noticed that {company} supports the "Non-GMO Project". This is deeply disturbing to me, and I have discontinued purchase of {company's} products as a result.

To date, no study has ever shown negative effects from the consumption of GMOs. Indeed, perpetuating the myth that GMOs are inherently less healthy than non-GMOs is damaging to the continued research efforts to end hunger and nutrient-deficiency around the world.

I urge {company} to remove the "Non-GMO Project" sticker from their products and support food research that will keep the world's population healthy and well-fed in the generations to come. I really enjoy {company}, but cannot, in good conscience, purchase goods or recommend products from companies that prop up fraudulent claims that impede scientific progress.
              </textarea>
            </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="fname"><big>First Name</big></label>
            <input type="text" class="form-control" name="fname" id="fname" required>
          </div>

          <div class="form-group">
            <label for="lname"><big>Last Name</big></label>
            <input type="text" class="form-control" name="lname" id="lname" required>
          </div>

          <div class="form-group">
            <label for="email"><big>Email</big></label>
            <input type="email" class="form-control" name="email" id="email" required>
          </div>

          <div class="form-group">
            <label for="address"><big>Address</big></label>
            <input type="text" class="form-control" name="address" id="address" required>
          </div>

          <div class="form-group">
            <label for="city"><big>City</big></label>
            <input type="text" class="form-control" name="city" id="city" required>
          </div>

          <div class="form-group">
            <label for="state"><big>State</big></label>
            <select class="form-control" name="state" id="state" required>
              <option>Alabama</option>
              <option>Alaska</option>
              <option>Arizona</option>
              <option>Arkansas</option>
              <option>California</option>
              <option>Colorado</option>
              <option>Connecticut</option>
              <option>District of Columbia</option>
              <option>Delaware</option>
              <option>Florida</option>
              <option>Georgia</option>
              <option>Hawaii</option>
              <option>Idaho</option>
              <option>Illinois</option>
              <option>Iowa</option>
              <option>Indiana</option>
              <option>Kansas</option>
              <option>Kentucky</option>
              <option>Louisiana</option>
              <option>Maine</option>
              <option>Maryland</option>
              <option>Massachusetts</option>
              <option>Michigan</option>
              <option>Minnesota</option>
              <option>Mississippi</option>
              <option>Missouri</option>
              <option>Montana</option>
              <option>Nebraska</option>
              <option>Nevada</option>
              <option>New Hampshire</option>
              <option>New Jersey</option>
              <option>New Mexico</option>
              <option>New York</option>
              <option>North Carolina</option>
              <option>North Dakota</option>
              <option>Ohio</option>
              <option>Oklahoma</option>
              <option>Oregon</option>
              <option>Pennsylvania</option>
              <option>Rhode Island</option>
              <option>South Carolina</option>
              <option>South Dakota</option>
              <option>Tennessee</option>
              <option>Texas</option>
              <option>Utah</option>
              <option>Vermont</option>
              <option>Virginia</option>
              <option>Washington</option>
              <option>West Virginia</option>
              <option>Wisconsin</option>
              <option>Wyoming</option>
            </select>
          </div>

          <div class="form-group">
            <label for="zip"><big>Zip Code</big></label>
            <input type="text" class="form-control" name="zip" id="zip" required>
          </div>

          <div class="form-group">
            <div class="checkbox">
              
            </div>
          </div>

          <input id="submitButton" type="submit" class="btn btn-success">

        </div>
      </div>

      </form>

    </div>

    <script>
      $('#check_all').click(function() {
          $('input[name=company]').prop('checked', true);
      });

      $('#uncheck_all').click(function() {
          $('input[name=company]').prop('checked', false);
      });

      var companiesToEmail = <%-JSON.stringify(locals.companyNames)%>;
      console.log(companiesToEmail);
    </script>

  </body>



</html>
